.testimony .title {
	text-align: center;
}

.accordion-button {
	border: 1px solid #D4D4D4;
	border-radius: 4px !important;
	margin: 16px 0px;
}

.accordion-item {
	border: none;
}

@media (max-width:991px) {
	.faq .title {
		text-align: center;
	}
}