.left-sidebar {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #0d28a6;
  display: flex;
  flex-direction: column;
  width: 70px;
  height: 100vh;
  .left-burger-icon {
    img {
      width: 34px;
      height: auto;
      background-color: white;
      margin: 18px;
    }
  }
  ul {
    margin: 0px;
    padding-left: 0px;
    li {
      a {
        img {
          width: 70px;
          height: auto;
        }
      }
    }
  }
  .expand-bar {
    position: absolute;
    top: 70px;
    left: 70px;
    padding-top: 35px;
    height: calc(100vh - 70px);
    width: 220px;
    background-color: white;
    box-shadow: 0px 0px 8px 0px #0000000D;
    h3 {
      margin-left: 24px;
    }
    p {
      padding-left: 24px;
      padding-top: 11px;
      padding-bottom: 11px;
      background-color: #cfd4ed;
      width: 100%;
      font-weight: bold;
    }
  }
}
