.header {
  padding: 25px 0 25px 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
}

.logo {
  width: 151px;
  display: flex;
  align-items: center;
}

.menu {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0px;
}

.menu a {
  margin: 8px 16px 8px 16px;
  display: block;
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.burger-icon {
  display: none;
}

.button {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  background: #5CB85F;
  border-radius: 2px;
  padding: 8px 12px;
  border-color: #5CB85F;
}

.menu .button {
  color: #FFFFFF;
}

.top-sidebar {
  display: none;
}

.sidebar {
  flex: 1;
}

@media (max-width:767px) {
  .menu {
    /* display: none; */
    padding: 16px;
  }

  .burger-icon {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }

  .sidebar {
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    width: 180px;
    top: 0;
    right: -180px;
    padding: 0;
    height: 100vh;
    transition: 0.3s;
  }

  .sidebar.menu-active {
    right: 0;
  }

  .sidebar.menu-active ::before {
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    z-index: -1;
  }

  .logo {
    z-index: -1;
  }

  .sidebar .menu {
    flex-direction: column;
    align-items: flex-start;
  }

  .top-sidebar {
    display: flex;
    align-items: center;
    margin: 32px 30px 0px 16px;
    justify-content: space-between;
  }

  .top-sidebar h5 {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0px;
  }

  .menu a {
    margin-left: 0px;
  }
}

@media (max-width:991px) {

  .menu {
    /* display: none; */
    padding: 16px;
  }

  .burger-icon {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }

  .burger-icon img {
    width: 40px;
  }

  .sidebar {
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    width: 180px;
    top: 0;
    right: -180px;
    padding: 0;
    height: 100vh;
    transition: 0.3s;
  }

  .sidebar.menu-active {
    right: 0;
  }

  .sidebar.menu-active ::before {
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    z-index: -1;
  }

  .logo {
    z-index: -1;
  }

  .sidebar .menu {
    flex-direction: column;
    align-items: flex-start;
  }

  .top-sidebar {
    display: flex;
    align-items: center;
    margin: 32px 30px 0px 16px;
    justify-content: space-between;
  }

  .top-sidebar h5 {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0px;
  }

  .menu a {
    margin-left: 0px;
  }
}