.e_tiket {
  .status {
    text-align: center;
    img {
      height: 48px;
      width: auto;
      margin-bottom: 16px;
    }
    h2 {
      margin-bottom: 16px;
    }
    p {
      margin-bottom: 16px;
    }
  }
  .card {
		.col-4{
			justify-content: end;
		}
		.button {
			align-content: center;
			font-family: Arial;
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0em;
			color: #0D28A6;
			background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
			border: 1px solid #0D28A6;
			img {
				width: 18px;
				height: auto;
				margin-right: 10px;
			}
    }
  }
}
