
.signup {
  width: 100%;
  height: 100vmax !important;
  margin-top: -104px;
  z-index: 0;
}

.signupleft {
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  background-color: #ffffff;
  // asdasds
  // asda
}

.signupbox {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  flex: 1;
  justify-content: flex-start !important;
}

.signupkonten {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.signupkonten .namaform {
  margin-bottom: 13px;
}

/* 
img.homelogo {
    margin-bottom: 32px;
} */

.logosignup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logosignup a {
  display: flex;
  align-items: center;
}

.signupkonten h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  margin: 32px 0px;
}

.signupkonten h3 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: black;
}

.signupkonten .btn {
  background: #0d28a6;
  border-radius: 2px;
}

.signupkonten .mb-3 {
  width: 350px;
}

.bawah-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 32px;
}

.btn {
  margin-top: 15px;
}

.bawah-button h3 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.bawah-button h4 {
  margin-left: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  text-decoration-line: underline;
  color: #0d28a6;
}

.signupkonten h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.signupright {
  height: 100vmax;
  padding: 0 !important;
}

.signupright img {
  object-fit: cover;
  width: 100%;
}

@media (max-width: 540px) {
  .signup-kiri {
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center !important;
    align-items: flex-start !important;
    padding: 30px 16px;
  }
}
