.cari-mobil {
  margin-top: 70px;
  position: relative;
  z-index: 1;

  .bars-loading {
    justify-content: center;
    padding: 60px 0 0;
  }

  .row{
    align-items: flex-start;
    justify-content: center;
  }

  .col-lg-4{
    padding: 12px;
  }

  .card {
    padding: 15px;
    height: 100%;
    &-wrapper {
      margin-bottom: 30px;
    }
  }
  .price {
    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
  }
  .description {
    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 24px;
  }
  img {
    width: 100%;
  }
  .btn {
    background: #5cb85f;
    border-radius: 2px;
    border: none;
  }
}
