.hero-section {
	background: #f1f3ff;
	padding-top: 104px;
	position: relative;
	/* height: 1200px; */
}

.hero-content {
	padding: 85px 0;
}

.hero-content h1 {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.5;
	margin-bottom: 15px;
}

.hero-content p {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.5;
	max-width: 75%;
	margin-bottom: 15px;
}

.hero-content a {
	background: #5cb85f;
	border-color: #5cb85f;
	border-radius: 2px;
	padding: 8px 12px;
	font-weight: 700;
	font-size: 14px;
	color: #ffffff;
	line-height: 1.5;
}

.hero-thumbnail {
	position: absolute;
	width: 40%;
	right: 0;
	bottom: 0;
}

.hero-thumbnail img {
	width: 100%;
}

@media (max-width: 991px) {
	.hero-section {
		padding-top: 70px;
	}

	.hero-content {
		padding: 30px 0;
	}

	.hero-thumbnail {
		position: relative;
		width: 100%;
		right: auto;
		bottom: auto;
	}

	.hero-content h1 {
		font-size: 32px;
	}

	.hero-content p {
		max-width: 100%;
	}
}

@media (min-width: 1600px) {
	.hero-thumbnail {
		width: 40%;
	}
}
